<div>
    <span class="menu">
       {% url 'index' as index_url %}
        <span>{% if request.path == index_url %}Accueil{%else%}<a href="{% url 'index' %}">Accueil</a>{%endif%}</span>
        {% url 'about' as about_url %}
        <span>{% if request.path == about_url %}a propos{%else%}<a href="{% url 'about' %}">a propos</a>{%endif%}</span>
        {% url 'contact' as contact_url %}

        </span>
        <span class="menu" style="float: right;">
        {% if user.is_authenticated %}
        {% url 'profile' as profile_url %}
         <span> Bienvenue {% if request.path == profile_url %}{{ user.username}}{%else%}<a href="{% url 'profile' %}">{{ user.username}}</a>{%endif%}</span>
         <span><a href="{% url 'logout' %}">Deconnectez</a></span>
         {%else%}
         <span ></span><a href="{% url 'login' %}">Ouvrir une session</a></span>
         {%endif%}
</span>
</div>